/*
Site Name: Blagoy Art
Version: 1.0
*/

/* -----------------------------------------------------------------------------

  													BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------- 
 
  																FONTS
 
----------------------------------------------------------------------------- */





/* -----------------------------------------------------------------------------

                								VARIABLES
  
----------------------------------------------------------------------------- */

$font-main: 'PT Sans', sans-serif;



/* -----------------------------------------------------------------------------

                								MIXINS
  
----------------------------------------------------------------------------- */

@mixin prefix($property, $values, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $values;
  }
  
  #{$property}: $values;    // Output standard non-prefixed declaration
}
// usage
// .selector {
//   @include prefix(transform, rotate(45deg) skew(30deg), webkit ms);
// }


/*------------------------------------------------------------------------------

																MAIN STYLES                             

------------------------------------------------------------------------------*/

html, body {
   height: 100%;
   width : 100%;
   margin: 0;
   padding: 0;
   position: relative;
}

html {
	font-family: $font-main;
  font-size: 10px;
}

.main-wrapper {
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height:100%;
}

.wrapper {
	min-width: 320px;
	max-width: 1440px;
	padding: 0 45px 0 45px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p {
	font-size: 1em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}

h1 {
	font-size: 2em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}

h2 {
	font-size: 1.8em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*------------------------------------------------------------------------------

                             				HEADER             
                                     
------------------------------------------------------------------------------*/

header {
	//background:url(../img/bg_header.jpg) no-repeat;
	width:100%;
	min-width: 320px;
	text-align:left;
	//position:absolute;
	//left:0px; top:0px;
	z-index:1;
}
	


/*------------------------------------------------------------------------------
                                     
                                     CONTENT                             
                                     
------------------------------------------------------------------------------*/

.content {
	width:100%;
	min-width: 320px;
	text-align:left;
	background:#000;
}



/*------------------------------------------------------------------------------

                                 FOOTER                                 
                                     
------------------------------------------------------------------------------*/

footer {
	//background:url(../img/bg_footer.jpg) no-repeat; 
	padding: 5px;
	background: silver;
	text-align:left;
	width:100%;
	min-width: 320px;
}

/* -----------------------------------------------------------------------------

															RESPONSIVE 

----------------------------------------------------------------------------- */

//------------------------------------------------------------------------------
@media (max-width: 767px) {
	
	div div.caption {
		color: #fff;
		opacity: 0.9;
		background: #cda868;
		width: 300px;
		bottom: 0;
		font-size: 1.5rem;
		padding: 0 0 0 10px;
		height: 30%;
		display: inline-block;
		position: absolute;
	}
	
button.slick-prev, button.slick-next {
	&::before {
	 font-size: 1rem;
	 position: relative;
	 bottom: 3px;
	}
}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    background: #fff;
	}


	.navbar-collapse.in {
		position: relative;
		z-index:10;
    background: #fff;
	}
	
	div div form.main-header__search {
  	width: 100%;
  	padding: 0 0 0 0;
  	margin: 15px 0 0 0;
	}
	
	div form.main-header__search .input-group-btn:last-child > .btn, .main-header__search .input-group-btn:last-child > .btn-group {
    right: 14px;
	}
	
	div ul.register {
    position: static;
    margin-left: 25px;
    .log-in {
    	margin-left: -5px;
    	margin-top: 15px;
    }
	}
	
	div figure.mobile__logo {
		display: inline-block;
		padding: 15px 0 0 0;
		img {
			width: 195px;
			height: auto;
		}
		
		figcaption {
			padding: 6px 0 0 0 ;
			font-size: 1.3rem;
		}
	}
	
	
	
		div figure.main-header__logo {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		img {
			width: 180px;
			height: auto;
		}
		
		figcaption {
			padding: 0 ;
			font-size: 1.2rem;
		}
	}
	
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3eade2;
	}
	
	div nav.navbar.main-navbar {
    padding: 0;
    min-height: 40px;
    margin: 0 -15px 0 -15px;
    .navbar-header {
    	position: relative;
    	z-index: 10;
    	background: #f0f1f6;
    }
	}
	
	ul.icons {
		display: block;
	}
	
	ul.dropdown-menu > li > a::before {
    top: 12px;
    left: 15px;
	}
	
	ul.navbar-nav .open .dropdown-menu {
    margin-left: 20px;
	}
}
//------------------------------------------------------------------------------




/*------------------- highlighting -------------------------*/

.outl-blue {
  outline: 1px solid blue;
}

.outl-green {
  outline: 1px solid green;
}

.outl-gold {
  outline: 1px solid gold;
}

.outl-red {
  outline: 1px solid red;
}


/*------------------- end highlighting -------------------------*/