/*
================================================================================
|                                     reset                                     |
================================================================================

/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------- 
 
  FONTS
 
----------------------------------------------------------------------------- */
@font-face {
	font-family: "nevis Bold";
	src: url("../fonts/nevis_bold/nevis_bold.eot");
	src: url("../fonts/nevis_bold/nevis_bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/nevis_bold/nevis_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* -----------------------------------------------------------------------------

                        RESPONSIVE 

----------------------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)--------------------------------------
@media (max-width: 575px) { 

 
}

// Small devices (landscape phones, less than 768px)---------------------------------------------
@media (max-width: 767px) {
  
	// div.main-header {
 //   display: none;
	// }
  
}

// Medium devices (tablets, less than 992px) -------------------------------------------------
@media (max-width: 991px) {

	// div.wrapper {
 // 	padding: 0 13px 0 13px;
 // }
  
 // div.main-header {
 //   //margin: 0 5px;
 //   padding: 30px 17px 0 17px;
	// }
	
	// figure.main-header__logo{
	// 	padding: 0;
	// 	// margin: 0;
	// 	img {
	// 		width: 180px;
	// 		height: auto;
	// 	}
		
	// 	figcaption {
	// 		// padding: 6px 0 0 0;
	// 		font-size: 1.2rem;
	// 		// color: #747688;
	// 		// font-family: $font-main;
	// 	}
	// }
	
	// div.main-header__search {
	// 	div.parent {
	// 		margin: 0 0 0 -30px;
	// 		width: 105%;
	// 	}
	// }
	
	// div.main-header__search {
	// 	.search-field {
	//     font-size: 1.2rem;
	//     // padding-left: 10px;
	//     // padding-right: 25px;
	//     // outline: none;
	//     // color: #b8b8bd;
	//     // //background-color: #0d0e0e;
	//     height: 30px;
	//     // width: 100%;
	//     // border: 1px solid #b9b8bd;
	//     // border-radius: 5px;
	//     //box-shadow: inset 0 -1px 0 #405870;
	//   }
 //   .search-button {
	// 	  // outline: none;
	// 	  // cursor: pointer;
	// 	  // width: 18px;
	// 	  // height: 18px;
	// 	  // position: absolute;
	// 	  top: 6px;
	// 	  right: 7px;
	// 	  //border: none;
	// 	  background: url(../img/icon-search.png) 100% 50% no-repeat ;
	// 	  background-size: 80%;
	// 	  //opacity: 0.5; 
	// 	}
	// }
  

  
 // div.main-header__work-info {
 // 		padding: 0 0 0 0;
	// 	//white-space: nowrap;
	// 	.hours {
	// 		//display: inline-block;
	// 		//vertical-align: middle;
	// 		p {
	// 			font-size: 1rem;
	// 			//margin: 0;
	// 			//padding: 5px;
	// 		}	
	// 	}
		
	// 	.phone {
	// 		padding: 5px 15px 0 0;
	// 		font-size: 1.6rem;
	// 		letter-spacing: -0.05rem;
	// 	}
	// }
	
	// /*--------------- nav-media --------------------------*/
	
	// .navbar-default .navbar-collapse {
 //   //border-color: #e7e7e7;
 //   //padding: 0 0 0 25px;
 //   margin: 0 -65px 0 -30px;
	// }
	
	// nav.navbar-default .navbar-nav > li > a {
 //   //color: #181818;
 //   //text-transform: uppercase;
 //   //font-weight: bold;
 //   font-size: 1.3rem;
 //   padding: 20px 12px 20px 12px;
	// }

	// ul li a.log-in span {
	//     display: inline-block;
	//     width: 16px;
	//     height: 14px;
	//     margin: 0 0 0 12px;
	//     position: absolute;
	//     left: -23px;
	//     bottom: 23px;
	//     //background: url(../img/log-in.png) no-repeat;
	//     //background-size: contain;
	// }
	
	// 		/*----------------- nav-media --------------------*/

	// div ul.navbar-right {
	// 	position: absolute;
	// 	right: 7px;
	// 	bottom: 50px;
	// 	.sum {
	// 		padding: 0 17px 0 0;
	// 	}
	// }
	
	// span.cart {
 //   //display: inline-block;
 //   width: 15px;
 //   height: 15px;
 //   //position: absolute;
 //   left: -25px;
 //   bottom: 23px;
 //   //margin: 0px 0px 0px 12px;
    
 //   //background: url(https://preview.c9users.io/alexman/blagoy_art/img/cart.png?livereload=1488970286488) no-repeat;
	// }
	
	// span.quantity {
	// 	padding: 0 1px 0 0;
 //   // margin: 0 6px 0 0;
 //   // display: inline-block;
 //   width: 20px;
 //   height: 18px;
 //   // background: #cb944c;
 //   // border-radius: 50%;
 //   // text-align: center;
	// }
	
	// .quantity b.q-value {
 //   font-size: 13px;
 //   color: #fff;
	// }
	
	// nav.navbar .navbar-right li a {
	// 	.goods {
	// 		font-size: 1rem;
	// 	}
	// }
	
	// .navbar-nav{
 //   // margin: 0 auto;
 //   // display: table;
 //   // table-layout: fixed;
 //   // float:none;
 // }

  
}

// Large devices (desktops, less than 1200px)------------------------------------------------
@media (max-width: 1199px) {
	
	// 	figure.main-header__logo{
	// 		// padding: 5px 0 0 0;
	// 		// margin: 0;
			
	// 		img {
	// 			width: 180px;
	// 			height: auto;
	// 		}
	// 		figcaption {
	// 			// padding: 6px 0 0 0;
	// 			font-size: 1.2rem;
	// 			// color: #747688;
	// 			// font-family: $font-main;
	// 		}
	// 	}
  
 // div.main-header {
 //   //margin: 0 0px;
 //   padding: 30px 20px 0 20px;
	// }
	// div.wrapper {
	// 	//padding: 0 30px 0 30px;
	// }
	
	// div.main-header__work-info {
	// 	//white-space: nowrap;
	// 	.hours {
	// 		//display: inline-block;
	// 		//vertical-align: middle;
	// 		p {
	// 			//font-size: 1rem;
	// 			//margin: 0;
	// 			//padding: 5px;
	// 		}	
	// 	}
		
	// 	.phone {
	// 		//padding: 0 0 0 0px;
	// 		//font-size: 2.0rem;
	// 	}
	// }
	
	// nav.navbar-default {
	// 	//margin: 0 5px;
	// 	margin: 40px 0 0 0;
 //   // background-color: transparent;
 //   // border-left: none;
 //   // border-right: none;
 //   // border-color: #dddfdf;
	// }
	
	// 	/*----------------- nav-media --------------------*/

	// div .navbar-right {
	// 	position: absolute;
	// 	right: 35px;
	// 	bottom: 50px;
	// }
	
	// .navbar-nav{
 //   // margin: 0 auto;
 //   // display: table;
 //   // table-layout: fixed;
 //   // float:none;
 // }
  
}
// Extra Large devices (desktops, greater than 1200px)------------------------------------------------
@media (min-width: 1200px) {
  

  
}




@media (min-width: 992px) and (max-width: 1199px) {
	// .main-header__logo {
	// 	//width: 25%;
 //   //padding: 5px 0 0 0;
 //   //margin: 0;
	// }
	
	// div.main-header {
 //   //margin: 0 0px;
 //   //padding: 30px 15px 0 15px;
	// }
}
@media (min-width: 1200px) and (max-width: 1500px) {
	// div.main-header {
 //   //margin: 0 ;
 //   //padding: 30px 5px 0 5px;
	// }
	// .main-header__search {
	// 	div.parent {
	// 		width: 90%;
	// 		margin: 0 0 0 30px;
	// 	}
	// }
	
	// 	div.main-header__work-info {
	// 	//white-space: nowrap;
	// 	.hours {
	// 		//display: inline-block;
	// 		//vertical-align: middle;
	// 		p {
	// 			//font-size: 1rem;
	// 			//margin: 0;
	// 			//padding: 5px;
	// 		}	
	// 	}
		
	// 	.phone {
	// 		//padding: 0 0 0 0px;
	// 		font-size: 2.0rem;
	// 	}
	// }
	
	// /*----------------- nav-media --------------------*/
	// nav.navbar-default {
 //   margin: 40px 55px 0 55px;
 //   // background-color: transparent;
 //   // border-left: none;
 //   // border-right: none;
 //   // border-color: #dddfdf;
	// }
	
	// .navbar-right {
	// 	position: absolute;
	// 	right: 15px;
	// 	bottom: 50px;
	// }
	
	// .navbar-nav{
 //   // margin: 0 auto;
 //   // display: table;
 //   // table-layout: fixed;
 //   // float:none;
 // }
}


/* -----------------------------------------------------------------------------

                VARIABLES
  
----------------------------------------------------------------------------- */

$font-main: 'PT Sans', sans-serif;

// $font-small: 1.1rem "Verdana", sans-serif;
// $font-main-nav: bold 1.8rem "Arial", sans-serif;
// $font-content: "Arial", sans-serif;
// $font-main-nav__color: #7a8090;
// $font-small__color: #6a87a3;
// $font-footer__color: #6a7796;

// $footer-bg__color: #040507;

// $main-container-width: 980px;



/*
================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/

html{
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
	//position: relative;
	font-family: $font-main;
}

.main-wrapper{
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	//overflow: hidden;
	min-height:100%;
}
.wrapper{
	min-width: 320px;
	max-width: 1440px;
	padding: 0 45px 0 45px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	font-size: 1em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}
h1{
	font-size: 2em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}
h2{
	font-size: 1.8em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	//transition: 2s;
	//background:url(../img/bg_header.jpg) no-repeat;
	width:100%;
	min-width: 320px;
	text-align:left;
	position:absolute;
	left:0px; top:0px;
	z-index:1;}
	
// .main-header {
// 	//margin: 0 20px;
// 	padding: 30px 70px 0 70px;
	
// }
// .main-header__logo{
// 	padding: 5px 0 0 0;
// 	margin: 0;
// 	figcaption {
// 		padding: 6px 0 0 0;
// 		font-size: 1.4rem;
// 		color: #747688;
// 		//font-family: $font-main;
// 	}
// }
// .main-header__work-info {
// 	padding: 0 0 0 0;
// 	white-space: nowrap;
// 	.hours {
// 		display: inline-block;
// 		vertical-align: middle;
// 		p {
// 			color: #cb944c;
// 			font-size: 1.4rem;
// 			margin: 0;
// 			padding: 0 0 5px 0;
// 		}	
// 		.delivery {
// 			color: #2b3056;
// 		}
// 	}
	
// 	.phone {
// 		display: inline-block;
// 		padding: 5px 15px 0 0;
// 		font-size: 2.3rem;
// 	}
// }

// /*----------------------------- search form ---------------------------------*/

// .main-header__search {
//   //padding: 0 30px 0 0;
//   display: inline-block;
//   vertical-align: middle;
//   position: relative;
  
//   .parent {
//   	position: relative;
//   	margin: 0 0 0 -30px;
//   	width: 105%;
//   }
  
//   &.dropped {
//     display: inline-block !important;
//   }


//   .search-field {
//     font-size: 1.4rem;
//     padding-left: 10px;
//     padding-right: 25px;
//     outline: none;
//     color: #b8b8bd;
//     //background-color: #0d0e0e;
//     height: 40px;
//     width: 100%;
//     border: 1px solid #b9b8bd;
//     border-radius: 5px;
//     //box-shadow: inset 0 -1px 0 #405870;
//   }
    
//     .search-field:focus {
//       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
//     }
    
//     .search-field::-webkit-input-placeholder {color: #b8b8bd; }
//     .search-field::-moz-placeholder          {color: #b8b8bd; }/* Firefox 19+ */
//     .search-field:-moz-placeholder           {color: #b8b8bd; }/* Firefox 18- */
//     .search-field:-ms-input-placeholder      {color: #b8b8bd;}
    
//     .search-button {
//       outline: none;
//       cursor: pointer;
//       width: 18px;
//       height: 18px;
//       position: absolute;
//       top: 11px;
//       right: 10px;
//       border: none;
//       background: url(../img/icon-search.png) 100% 50% no-repeat ;
//       opacity: 0.5; 
//     }
    
//     .search-button:hover {
//       cursor: pointer;
//       opacity: 1;
//     }
// }
	
// /*------------------------------------------------------------------
//                         NAV
// -------------------------------------------------------------------*/	
// .navbar-default {
// 		margin: 0 55px;
//     background-color: transparent;
//     border-left: none;
//     border-right: none;
//     border-color: #dddfdf;
// }

// .navbar-default .navbar-nav>li>a {
//     color: #181818;
//     text-transform: uppercase;
//     font-weight: bold;
//     font-size: 1.6rem;
// }

// .navbar-default .navbar-nav>.active>a, {
//     //color: #555;
//     background-color: #fafafa;
// }

// .navbar-nav>li>a {
// 	padding: 20px 10px 20px 10px;
//     // padding-top: 20px;
//     // padding-bottom: 20px;
// }

// .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
//   background-color: transparent; 
//   //color: red;
// }

// .navbar-default .navbar-nav>li>a:hover {
//   color: #9b9999;
//   //font-weight: normal;
//   background-color: transparent;
// }

// .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
//     //font-weight: normal;
//     color: #181818;
//     background-color: transparent;
// }

// .navbar-toggle {
//     // position: relative;
//     float: left;
//     // padding: 9px 10px;
//     // margin-top: 8px;
//     // margin-right: 15px;
//     // margin-bottom: 8px;
//     // background-color: transparent;
//     // background-image: none;
//     // border: 1px solid transparent;
//     // border-radius: 4px;
// }

// .dropdown-menu span.caret-arrow {
// 	margin: 0 0 0 45px;
// 	-webkit-transform: rotate(-90deg);
// 	transform: rotate(-90deg);
// }

// .dropdown-menu>li {
// 	h3 {
// 		white-space: nowrap;
// 		padding: 0 10px 0 0 ;
// 		margin: 5px 10px 5px 17px;
// 		text-transform: uppercase;
// 		color: #cb944c;
// 		font-size: 1.6rem;
// 	}
// }

// .dropdown-menu>li>a {
// 		white-space: normal;
//     //display: block;
//     position: relative;
//     padding: 7px 0 8px 30px;
//     //clear: both;
//     //font-weight: 400;
//     //line-height: 1.42857143;
//     color: #666666;
//     font-size: 1.5rem;
    
//     &::before {
//     	display: block;
//     	position: absolute;
//     	width: 6px;
//     	height: 6px;
//     	top: 15px;
//     	left: 15px;
//     	content:"";
//     	background: url(../img/caret-circle.png) no-repeat ;
//     }
// }

// .caret-prod {
// 	display: block;
// 	width: 16px;
// 	height: 13px;
// 	position: absolute;
// 	left: -18px;
// 	bottom: 22px;
// 	background: url(../img/caret-prod.png) no-repeat;
// }
// .caret-arrow {
// 	display: inline-block;
// 	width: 11px;
// 	height: 8px;
// 	margin: 0 0 0 12px;
// 	//position: absolute;
// 	left: -10px;
// 	bottom: 22px;
// 	background: url(../img/caret-arrow.png) no-repeat;
// }

// .dropdown-menu {
// 	min-width: 245px;
// 	left: -25px;
// }
// .dropdown-submenu {
//     position: relative;
// }

// .dropdown-submenu .dropdown-menu {
//     top: 0;
//     left: 100%;
//     margin-top: -1px;
// }

// .cart {
// 	display: inline-block;
// 	width: 23px;
// 	height: 23px;
// 	margin: 0 0 0 12px;
// 	position: absolute;
// 	left: -40px;
// 	bottom: 20px;
// 	background: url(../img/cart.png) no-repeat;
// 	background-size: contain;
// }

// .navbar .navbar-right li a {
// 	color: #252a54;
// 	font-size: 1.6rem;
// 	.goods {
// 		font-size: 1.4rem;
// 	}
// }

// .quantity {
// 	padding: 0;
// 	margin: 0 6px 0 0;
// 	display: inline-block;
// 	width: 23px;
// 	height: 21px;
// 	background: #cb944c;
// 	border-radius: 50% ;
// 	text-align: center;
	
// 	.q-value {
// 		//font-weight: bold;
// 		font-size: 14px;
// 		color: #fff;
// 	}
// }


// li a.log-in {
// 	padding: 20px 0 20px 35px;
// 	span {
// 		display: inline-block;
// 		width: 19px;
// 		height: 17px;
// 		margin: 0 0 0 12px;
// 		position: absolute;
// 		left: -5px;
// 		bottom: 20px;
// 		background: url(../img/log-in.png) no-repeat;
// 		background-size: contain;
// 	}
// }

/**/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default {
  background-color: transparent;
  border-color: #dddfdf;
  
  .navbar-nav>.active>a {
  	color: inherit; 
  	background-color: #dddfdf;
	}
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: inherit;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: inherit;
    background-color: transparent;
}
.main-nav {
	margin: 90px 0 0 0;
	float: none;
}

/**/


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	width:100%;
	min-width: 320px;
	text-align:left;
	//background:#000;
}


/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	//background:url(../img/bg_footer.jpg) no-repeat; 	
	height:81px; 
	text-align:left;
	position:absolute;
	left:0px; bottom:0px;
	width:100%;
	min-width: 320px;
}

/*------------------- highlighting -------------------------*/

.outl-blue {
  outline: 1px solid blue;
}

.outl-green {
  outline: 1px solid green;
}

.outl-gold {
  outline: 1px solid gold;
}

.outl-red {
  outline: 1px solid red;
}


/*------------------- end highlighting -------------------------*/